.b {color: blue;}
.gr {color: green !important;}
/* .gr-bor {border: 3px solid green !important;} */
.g{color: gold;}
.m {color: magenta;}
.o {color: orange;}
.r{color: red;}
.t{color: lightseagreen;}