#tutorialLink {
    display: inline-flex;
}
.tutorialLink-darkModeBtn-container a#tutorialLink img {
    width: 100%;
    max-width: 280px;
    max-height: 80px;

}

.side-bar ul>li {
    width: 100%;
}
.side-bar ul>li>a {
    width: 90%;
    text-decoration: none;
}
.side-bar ul>li>ul>li>a {
    font-size: 90%;
}