
/* sizing.css */
.tutorial-link-img-container {
    /* max-height: 100px; */
    /* height: 200px; */
}
/* .page-header-links>a {
    height: 100%;
} */
.tutorial-link-img-container img {
    max-height: 150px;
    max-width: 100px;
}
#darkModeBtn {
    width: fit-content;
    height: 4vh;
}
.page-wrapper>nav.section-lesson-title {
    height: fit-content;
}
.side-bar ul {
    li {
        /* border: 1px solid blue; */
        width: fit-content;
        /* max-width: 95%; */
        a {
            min-width: 150px;
            width: 100%;
            /* width: 100%; */
        }
    }
}
.code-container {
    width: fit-content;
}
.code-container>.copy-code {
    width: 100%;
    height: 100%;
    transition: all .35s;
}
#mainTargetDiv {
    #targetDivInjected {
        .main-container-colorCode {
            width: 100%;
        }
    }
}
main.main-container {
    width: 100%;
}

.side-bar {
    /* border: 4px solid blue; */
    height: 100vh;
    width: fit-content;
    flex-basis: 10%;
    
}
#mainTargetDiv{   
    /* width: 50%; */
}
