/* position.css */
.page-wrapper {
    position:relative;
}
.main-container>.side-bar {
    position: sticky;
    top: 4%;
}
.tutorial-link-img-container {
    position: fixed;
    right: 0;
    top: 0;
}
.inject-content-btns-container {
    position: fixed;
    bottom: 0;
    right: 0;
}
.page-wrapper >nav.nav-lesson-title {
    /* position: sticky; */
    /* top: 0 !important; */
}
.main-landing-page {
    /* position: relative; */
}
/* Steps */
.steps-container {
    /* position: relative; */
}

#sideBarBtn {
    /* position: absolute; */
}



.step-float {
    /* position: relative; */
}
.main-container {
    /* position: relative; */
    /* pointer-events: none; */
}
