/* vid-cntrl-btn.css */
/* =========================
   VIDEO CONTROLS
========================= */

.vid-cntrl-btns {
    display: flex;
    justify-content: space-around;
    width: 100%;
    z-index: 8000;
}

/* normal mode */
.step-vid .vid-cntrl-btns {
    position: relative;
}

/* enlarged mode */
.step-vid.enlarge .vid-cntrl-btns {
    z-index: 9999;
    position: relative;
    left: 0;
    bottom: 0;

    width: 100%;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: auto;
}

/* buttons */
.vid-cntrl-btns>button {
    flex: 1 1 33%;
    
    background: rgba(0, 0, 0, 0);
    color: white;

    border: none;
    border-radius: 6px;

    padding: 0.5rem 1rem;
    cursor: pointer;
    
}
.step-float > .step-vid.enlarge .vid-cntrl-btns>button {
    width: 30%;
}