.page-header.grid {
    .box {
        border: 1px solid black;
    }
}
nav#navBarLessonTitle{
    border-bottom: 1px solid black;
}
aside.side-bar{
    border-right: 1px solid black;

}
.lesson-btns-container > button{
    border-radius: 8px;

}
.step-float {
    border: 2px solid whitesmoke
}