@media screen and (min-width: 701px) {
    .enlarge{
        top: 10%;
        left: 42% !important;
        transform: scale(4) !important;
    }
}
@media screen and (max-width: 700px) {
    .side-bar-links-container > ul{
        margin: 0;
        margin-left: 15% !important;
        /* border: 2px solid orange; */
    }
    .side-bar-links-container> ul >li >ul{
        margin-left: 8% !important;
        
    }
    .side-bar-links-container > ul >li {
        font-size: 76% !important;
        /* color: purple; */
    }
    .side-bar-links-container > ul >li > ul >li {
        font-size: 60% !important;
        /* color: purple; */
    }
    .side-bar ul li a{
        font-size: .86rem;
    }
    .step-content p {
        font-size: 75%;   
    }
    .step-vid>video,
    .step-img>img {
        max-height: 250px;
        max-width: 300px ;
    }
    .side-bar-links>li {
        margin-bottom: 20%;
    }
    .side-bar-links {
        margin-top: 50% !important;
    }
}
